flows.json
[{"id":"ff781f2e.5afbd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"30a33c63.b277f4","type":"ibmiot in","z":"ff781f2e.5afbd","authentication":"apiKey","apiKey":"73f0970f.d01aa8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"arduino","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":200,"wires":[["42295934.b74cb8","48d53b8a.3bab84","6bac85eb.3917bc"]]},{"id":"42295934.b74cb8","type":"debug","z":"ff781f2e.5afbd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":200,"wires":[]},{"id":"48d53b8a.3bab84","type":"function","z":"ff781f2e.5afbd","name":"temperature","func":"global.set('temperature',msg.payload.temperature)\nmsg.payload=msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":120,"wires":[["42295934.b74cb8","26998487.07c6ac","cb2e373e.2644a8"]]},{"id":"6bac85eb.3917bc","type":"function","z":"ff781f2e.5afbd","name":"gasrange","func":"global.set('gasrange',msg.payload.gasrange)\nmsg.payload=msg.payload.gasrange\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":280,"wires":[["42295934.b74cb8","53fc6d55.df1b14","493a5af0.da44a4"]]},{"id":"26998487.07c6ac","type":"ui_gauge","z":"ff781f2e.5afbd","name":"temperature","group":"607fc7de.628db8","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":120,"wires":[]},{"id":"53fc6d55.df1b14","type":"ui_gauge","z":"ff781f2e.5afbd","name":"gasrange","group":"6a1997af.d4c788","order":0,"width":0,"height":0,"gtype":"gage","title":"gasrange","label":"J","format":"{{value}}","min":0,"max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":280,"wires":[]},{"id":"f4695c13.9a93d","type":"http in","z":"ff781f2e.5afbd","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":460,"wires":[["852702d5.aac3d"]]},{"id":"5f2af381.a6662c","type":"http response","z":"ff781f2e.5afbd","name":"","statusCode":"","headers":{},"x":470,"y":460,"wires":[]},{"id":"852702d5.aac3d","type":"function","z":"ff781f2e.5afbd","name":"","func":"msg.payload={'temperature':global.get('temperature'),'gasrange':global.get('gasrange')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["5f2af381.a6662c"]]},{"id":"cb2e373e.2644a8","type":"switch","z":"ff781f2e.5afbd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"60","vt":"num"},{"t":"lte","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":40,"wires":[["e8942d36.4d55d"],["2cc3482.e65f8b8"]]},{"id":"2cc3482.e65f8b8","type":"http request","z":"ff781f2e.5afbd","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=funmGdOaRNk1LTI9ytzpEMXZigvoQ5rAKec0SCUH3swb2PBxWVvyIhFLG45lUKJDMu9QTB3cAgEn8Ywx&sender_id=FSTSMS&message=The temperature is low.&language=english&route=p&numbers=6301053972","tls":"","persist":false,"proxy":"","authType":"","x":650,"y":140,"wires":[[]]},{"id":"e8942d36.4d55d","type":"http request","z":"ff781f2e.5afbd","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=funmGdOaRNk1LTI9ytzpEMXZigvoQ5rAKec0SCUH3swb2PBxWVvyIhFLG45lUKJDMu9QTB3cAgEn8Ywx&sender_id=FSTSMS&message=The temperatureis high.&language=english&route=p&numbers=6301053972","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":60,"wires":[[]]},{"id":"493a5af0.da44a4","type":"switch","z":"ff781f2e.5afbd","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"70","vt":"str"},{"t":"lte","v":"35","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":380,"wires":[["ac430cb9.f6042"],["24eccd4a.a835d2"]]},{"id":"ac430cb9.f6042","type":"http request","z":"ff781f2e.5afbd","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=funmGdOaRNk1LTI9ytzpEMXZigvoQ5rAKec0SCUH3swb2PBxWVvyIhFLG45lUKJDMu9QTB3cAgEn8Ywx&sender_id=FSTSMS&message=The gas level is high.&language=english&route=p&numbers=6301053972","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":380,"wires":[[]]},{"id":"24eccd4a.a835d2","type":"http request","z":"ff781f2e.5afbd","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulk?authorization=funmGdOaRNk1LTI9ytzpEMXZigvoQ5rAKec0SCUH3swb2PBxWVvyIhFLG45lUKJDMu9QTB3cAgEn8Ywx&sender_id=FSTSMS&message=The gas level is low.&language=english&route=p&numbers=6301053972","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":460,"wires":[[]]},{"id":"73f0970f.d01aa8","type":"ibmiot","z":"","name":"api key","keepalive":"60","serverName":"60d347.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"607fc7de.628db8","type":"ui_group","z":"","name":"temperature","tab":"89bb245d.85ea88","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a1997af.d4c788","type":"ui_group","z":"","name":"gasrange","tab":"89bb245d.85ea88","order":2,"disp":true,"width":"6","collapse":false},{"id":"89bb245d.85ea88","type":"ui_tab","z":"","name":"Hazardous area monitoring system ","icon":"dashboard","disabled":false,"hidden":false}]